* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #083143;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#display-main {
  width: 100%;
  height: auto;
  max-width: 1024px;
}