* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #083143;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#raymarcher-display {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #raymarcher-display {
    width: auto;
    max-width: 100%;
  }
}
